@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #fdfcf8; /* paper-50: Warm Beige White */
  --foreground: #244668; /* primary-700: Deep Navy Text */
}

.dark {
  --background: #132131; /* primary-950: Deep Dark Navy */
  --foreground: #dce5ed; /* primary-100: Soft Blue White */
}

body {
  color: var(--foreground);
  background: var(--background);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
